@font-face {
    font-family: "Little Paws";
    src: url("../fonts/little-paws/LittlePaws-8MZqZ.ttf") format("truetype"),
  }
  

body {
    font-family: 'little Paws', sans-serif;
    background-color: hsl(0, 100%, 71%);
    transition: background 0.3s;
}

.paw {
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1; 
    width: 500px;

}

.paw1 {
    position: absolute; 
    bottom: 0;
    right: 0;
    z-index: -1; 
    width: 500px;
}



.pijl {
    left: 0;
}

.dog {
    position: relative; 
    margin-top: 50px;
}



.dog-image {
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 800px;
}

.dog-image img {
    height: 100%;
    display: none; 
}

#dog-message {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;

}

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    text-align: center;

}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid hsl(0, 0%, 0%);
    cursor: pointer;
    transition: transform 0.2s;
    width: 150px;

}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100px;
    height: 100px;
}

#new-emotion {
    background-color: hsl(45, 100%, 64%);
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 3px solid hsl(0, 0%, 0%);
    font-family: 'little Paws';
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    text-align: center;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}


.animations {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; 
    height: 250px; 
    width: auto;
}

#tennis-ball {
    height: 7rem;
    margin-right: 3px;
}

#bubbles {
    height: 85%;
}

#dog-food {
    height: 75%;
}

#new-emotion:hover {
    background-color: hsl(45, 100%, 51%);
}

H2 {
    text-align: center;
    margin-top: 4rem;
    font-size: 3.5rem;
    margin-bottom: -1rem;
}

H4 {
    text-align: center;
    font-size: 1rem;
}

.starttext {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
}

.dog-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-tag {
    height: 3rem;
    width: 25rem;
    border-radius: 0.5rem;
    border: 0.3rem hsl(0, 0%, 0%) solid;
    font-family: 'little paws';
    text-align: center;
    font-size: 1.5rem; 
}

.help-button {
    background-color: hsl(45, 100%, 64%);
    height: 3rem;
    width: 7rem;
    border-radius: 0.5rem;
    border: 0.3rem black solid;
    font-family: 'little paws';
    cursor: pointer;
}

.start-button {
    background-color: hsl(125, 90%, 75%);
    height: 3rem;
    width: 7rem;
    border-radius: 0.5rem;
    border: 0.3rem hsl(0, 0%, 0%) solid;
    margin-top: 1rem;
    font-family: 'little paws';
    cursor: pointer;
}


button:hover {
    background-color: hsl(122, 100%, 94%);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}


.achtergrondkleuren-knop {
    background-color: hsl(45, 100%, 64%);
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 3px solid hsl(0, 0%, 0%);
    font-family: 'little Paws';
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    text-align: center;
    right: 25px;
    position: absolute;
}